@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

@font-face {
  font-family: "Waltograph";
  font-style: normal;
  src: url("./fonts/waltographUI.ttf");
}

body {
  margin: 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;

  background: #4d4d4d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
